.table{
    margin-top: 2rem;
    overflow: scroll;
    height: 400px;
}
.table tr{
    display: flex;
    justify-content: space-between;
}
.table td{
    padding: 0.5rem;
}
tr:nth-child(odd){
    background-color: rgb(222, 222, 224);
}