*{
  margin: 0;
}
.app{
  display: flex;
  justify-content: space-evenly;
}
.app__firstcontainer{
  /* border: 1px solid black; */
  flex:0.7;
}

.app__secondcontainer{
  flex: 0.2;
  /* border: 1px solid black; */
}

.app__casedetails{
  display: flex;
  justify-content: space-between;

}
body{
  background-color: rgb(177, 194, 211);
}

@media(max-width:760px){
  .app{
    display: flex;
    flex-direction: column;
  }
  
  
}